@import url('https://googleapis.com');

.warning {
  color: red;
}

.lsoh {
  font-family: 'Nosifer', sans-serif;
  font-size: 3rem;
  color: #ff0000;
}

.lsoh-p {
  color: black;
  font-family: "Kings", cursive;
  font-weight: 400;
  font-style: normal;
}
